/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

/* Jumbotron */
.jumbotron {
  background: url(../images/bg-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}

/* Navigation Bar*/
#mainNav {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
#logo {
  font-family: Pacifico;
  font-weight: 400;
  font-size: 40px;
  -webkit-text-stroke: 2px #313131; /* adds a gray border with a width of 2px to text */
}
.nav {
  flex-wrap: nowrap;
}
.nav-link {
  color: #ffffff;
}

/* Hero Section*/
.masthead {
  margin-top: 2rem;
}
.heroText {
  align-self: center;
  justify-self: center;
}
.hero-btn {
  background: transparent;
  border: 2px solid #fdcc52;
  border-radius: 15px;
  padding: 0.5em 3em;
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #fdcc52;
  color: #000;

}
#phone {
  width: 443px;
  height: 894px;
}

/* Download Section */
#download {
  background: #FDC949;
  margin-top: 0;
}
.downloadContent {
  text-align: center;
}
.appDownload:hover {
  transform: scale(1.1);
  z-index: 100;
}

/* Testimonials Section */
.text-align-center {
  text-align: center;
}
.testimonials .card {
  border: none;
  
}
.card-img-top {
  border-radius: 100%;
  width: 50%;
  margin: 0 auto;
}
.name {
  margin-top: 3px;
}
.card-body {
  padding-top: 10px;
}

/* CTA Section*/
.signup-section {
  background: url(../images/SF.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#whiteHeading {
  color: #fff;
}
.form-inline{
  width: 100%;
  justify-content: center;
}
#exampleInputEmail1 {
  width: 100%;
}
.form-group {
  width: 80%;
}
.subscribe-btn {
  margin-left: 10px;
  background-color: #fdcc52;
  border-radius: 15px;
  padding: 10px;
  color: #313131;
  border: none;
  font-size: 0.8rem;
}